<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <!-- Installation -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <!-- Background work / boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- Misc -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="Zenshi"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="false"> 
                <action android:name="android.intent.action.VIEW" /> 
                <category android:name="android.intent.category.DEFAULT" /> 
                <category android:name="android.intent.category.BROWSABLE" /> 
                <data android:scheme="http" /> 
                <data android:scheme="https" /> 
                <data android:host="bato.to" /> 
                <data android:host="batocomic.com" /> 
                <data android:host="batocomic.net" /> 
                <data android:host="batocomic.org" /> 
                <data android:host="batotoo.com" /> 
                <data android:host="batotwo.com" /> 
                <data android:host="battwo.com" /> 
                <data android:host="comiko.net" /> 
                <data android:host="comiko.org" /> 
                <data android:host="mangatoto.com" /> 
                <data android:host="mangatoto.net" /> 
                <data android:host="mangatoto.org" /> 
                <data android:host="readtoto.com" /> 
                <data android:host="readtoto.net" /> 
                <data android:host="readtoto.org" /> 
                <data android:host="dto.to" /> 
                <data android:host="hto.to" /> 
                <data android:host="mto.to" /> 
                <data android:host="wto.to" /> 
                <data android:host="xbato.com" /> 
                <data android:host="xbato.net" /> 
                <data android:host="xbato.org" /> 
                <data android:host="zbato.com" /> 
                <data android:host="zbato.net" /> 
                <data android:host="zbato.org" /> 
                <data android:host="comick.io" /> 
                <data android:host="comick.cc" /> 
                <data android:host="e-hentai.org" /> 
                <data android:host="exhentai.org" /> 
                <data android:host="hitomi.la" /> 
                <data android:host="imhentai.xxx" /> 
                <data android:host="webtoons.com" /> 
                <data android:host="mangadex.org" /> 
                <data android:host="mangafire.to" /> 
                <data android:host="mangapark.net" /> 
                <data android:host="mangaplus.shueisha.co.jp" /> 
                <data android:host="mangareader.to" /> 
                <data android:host="www.ninemanga.com" /> 
                <data android:host="es.ninemanga.com" /> 
                <data android:host="ru.ninemanga.com" /> 
                <data android:host="de.ninemanga.com" /> 
                <data android:host="br.ninemanga.com" /> 
                <data android:host="it.ninemanga.com" /> 
                <data android:host="fr.ninemanga.com" /> 
                <data android:host="animeh.to" /> 
                <data android:host="papscan.com" /> 
                <data android:host="komikzoid.id" /> 
                <data android:host="neumanga.xyz" /> 
                <data android:host="sektekomik.xyz" /> 
                <data android:host="flixscans.net" /> 
                <data android:host="mangastorm.org" /> 
                <data android:host="teamoney.site" /> 
                <data android:host="anibel.net" /> 
                <data android:host="www.mangahaus.com" /> 
                <data android:host="www.enlignemanga.com" /> 
                <data android:host="www.frmanga.com" /> 
                <data android:host="www.seinemanga.com" /> 
                <data android:host="www.mangakoinu.com" /> 
                <data android:host="oioivn.com" /> 
                <data android:host="asuracomic.net" /> 
                <data android:host="manhwafull.net" /> 
                <data android:host="manga.clone-army.org" /> 
                <data android:host="comixextra.com" /> 
                <data android:host="dynasty-scans.com" /> 
                <data android:host="flixscans.org" /> 
                <data android:host="www.mgeko.cc" /> 
                <data android:host="www.mgeko.com" /> 
                <data android:host="www.mangageko.com" /> 
                <data android:host="www.mangakawaii.io" /> 
                <data android:host="www.mangatown.com" /> 
                <data android:host="mangaowl.to" /> 
                <data android:host="manhwa18.net" /> 
                <data android:host="manhwas.men" /> 
                <data android:host="po2scans.com" /> 
                <data android:host="pururin.to" /> 
                <data android:host="vymanga.net" /> 
                <data android:host="templescanesp.net" /> 
                <data android:host="visortmo.com" /> 
                <data android:host="manhwa18.com" /> 
                <data android:host="leerolimpo.com" /> 
                <data android:host="klz9.com" /> 
                <data android:host="welovemanga.one" /> 
                <data android:host="weloma.art" /> 
                <data android:host="reader.deathtollscans.net" /> 
                <data android:host="reader.mangatellers.gr" /> 
                <data android:host="reader.seinagi.org.es" /> 
                <data android:host="www.menudo-fansub.com" /> 
                <data android:host="lector.pzykosis666hfansub.com" /> 
                <data android:host="adulto.seinagi.org.es" /> 
                <data android:host="reader.powermanga.org" /> 
                <data android:host="www.ramareader.it" /> 
                <data android:host="read-nifteam.info" /> 
                <data android:host="bentomanga.com" /> 
                <data android:host="www.bentomanga.com" /> 
                <data android:host="furyosociety.com" /> 
                <data android:host="legacy-scans.com" /> 
                <data android:host="lire-scan.me" /> 
                <data android:host="lugnica-scans.com" /> 
                <data android:host="www.manga-mana.com" /> 
                <data android:host="scansmangas.me" /> 
                <data android:host="scantrad-union.com" /> 
                <data android:host="hentaislayer.net" /> 
                <data android:host="scyllacomics.xyz" /> 
                <data android:host="lelscanfr.com" /> 
                <data android:host="asmhentai.com" /> 
                <data android:host="doujindesu.uk" /> 
                <data android:host="3hentai.net" /> 
                <data android:host="hentaienvy.com" /> 
                <data android:host="hentaiera.com" /> 
                <data android:host="hentaiforce.net" /> 
                <data android:host="hentaifox.com" /> 
                <data android:host="hentairox.com" /> 
                <data android:host="nhentai.net" /> 
                <data android:host="hentaiseason.com" /> 
                <data android:host="hentaitokyo.net" /> 
                <data android:host="mundohentaioficial.com" /> 
                <data android:host="universohentai.com" /> 
                <data android:host="mahoushoujobu.com" /> 
                <data android:host="danke.moe" /> 
                <data android:host="guya.cubari.moe" /> 
                <data android:host="hachirumi.com" /> 
                <data android:host="omegascans.org" /> 
                <data android:host="reaperscans.com" /> 
                <data android:host="templescan.net" /> 
                <data android:host="lectorikigai.erigu.com" /> 
                <data android:host="perf-scan.fr" /> 
                <data android:host="site.modescanlator.net" /> 
                <data android:host="brakeout.xyz" /> 
                <data android:host="cerberuseries.xyz" /> 
                <data android:host="mangaesp.net" /> 
                <data android:host="toomics.com" /> 
                <data android:host="daycomics.me" /> 
                <data android:host="hotcomics.me" /> 
                <data android:host="doujindesu.tv" /> 
                <data android:host="hentaicrot.com" /> 
                <data android:host="pixhentai.com" /> 
                <data android:host="mangagalaxy.org" /> 
                <data android:host="vortextoon.com" /> 
                <data android:host="nicovideo.jp" /> 
                <data android:host="4uscans.com" /> 
                <data android:host="ezmanga.org" /> 
                <data android:host="kewnscans.org" /> 
                <data android:host="laidbackscans.org" /> 
                <data android:host="luacomic.net" /> 
                <data android:host="magustoon.com" /> 
                <data android:host="necroscans.com" /> 
                <data android:host="anteikuscan.fr" /> 
                <data android:host="astrames.fr" /> 
                <data android:host="edscanlation.fr" /> 
                <data android:host="starboundscans.com" /> 
                <data android:host="likemanga.io" /> 
                <data android:host="ero18x.com" /> 
                <data android:host="eromanhwa.org" /> 
                <data android:host="kdtscans.com" /> 
                <data android:host="manga18fx.com" /> 
                <data android:host="mangacrazy.net" /> 
                <data android:host="mangatop.site" /> 
                <data android:host="manhwa18.cc" /> 
                <data android:host="manhwa-raw.com" /> 
                <data android:host="manytoon.club" /> 
                <data android:host="arabtoons.net" /> 
                <data android:host="3asq.org" /> 
                <data android:host="azoramoon.com" /> 
                <data android:host="comicarab.com" /> 
                <data android:host="www.hadess.xyz" /> 
                <data android:host="gatemanga.com" /> 
                <data android:host="gmanga.site" /> 
                <data android:host="lekmanga.net" /> 
                <data android:host="lekmanga.com" /> 
                <data android:host="lekmanga.org" /> 
                <data android:host="like-manga.net" /> 
                <data android:host="manga-leko.org" /> 
                <data android:host="link-manga.com" /> 
                <data android:host="manga-lionz.com" /> 
                <data android:host="mangapeak.org" /> 
                <data android:host="mangarose.net" /> 
                <data android:host="manga-starz.com" /> 
                <data android:host="mangatime.us" /> 
                <data android:host="mangarabic.com" /> 
                <data android:host="manga-spark.com" /> 
                <data android:host="manhatic.com" /> 
                <data android:host="niji-translations.com" /> 
                <data android:host="novelstown.com" /> 
                <data android:host="olaoe.cyou" /> 
                <data android:host="rocksmanga.com" /> 
                <data android:host="www.shadowxmanga.com" /> 
                <data android:host="webtoonempire-ron.com" /> 
                <data android:host="yonabar.xyz" /> 
                <data android:host="mangalesen.net" /> 
                <data android:host="adultwebtoon.com" /> 
                <data android:host="allporncomic.com" /> 
                <data android:host="anisascans.in" /> 
                <data android:host="anshscans.org" /> 
                <data android:host="aquareader.net" /> 
                <data android:host="arcanescans.com" /> 
                <data android:host="aryascans.com" /> 
                <data android:host="asurascansgg.com" /> 
                <data android:host="asurascans.us" /> 
                <data android:host="babelwuxia.com" /> 
                <data android:host="bananamanga.net" /> 
                <data android:host="bestmanhua.com" /> 
                <data android:host="bibimanga.com" /> 
                <data android:host="boyslove.me" /> 
                <data android:host="cocomic.co" /> 
                <data android:host="coffeemanga.io" /> 
                <data android:host="coloredmanga.net" /> 
                <data android:host="comicsvalley.com" /> 
                <data android:host="v2.comiz.net" /> 
                <data android:host="creepyscans.com" /> 
                <data android:host="dark-scan.com" /> 
                <data android:host="darkscans.net" /> 
                <data android:host="reader.decadencescans.com" /> 
                <data android:host="dragontea.ink" /> 
                <data android:host="duckmanga.com" /> 
                <data android:host="www.redmanga.org" /> 
                <data android:host="factmanga.com" /> 
                <data android:host="firescans.xyz" /> 
                <data android:host="freecomiconline.me" /> 
                <data android:host="freemanga.me" /> 
                <data android:host="freemangatop.com" /> 
                <data android:host="freewebtooncoins.com" /> 
                <data android:host="gdscans.com" /> 
                <data android:host="gedecomix.com" /> 
                <data android:host="goodgirls.moe" /> 
                <data android:host="gourmetsupremacy.com" /> 
                <data android:host="grabber.zone" /> 
                <data android:host="harimanga.com" /> 
                <data android:host="manga18h.xyz" /> 
                <data android:host="hentai4free.net" /> 
                <data android:host="hentaimanga.me" /> 
                <data android:host="hentaiwebtoon.com" /> 
                <data android:host="hentaixcomic.com" /> 
                <data android:host="hentaixyuri.com" /> 
                <data android:host="hentaixdickgirl.com" /> 
                <data android:host="hiperdex.com" /> 
                <data android:host="hunlight.com" /> 
                <data android:host="en.huntersscan.xyz" /> 
                <data android:host="immortalupdates.com" /> 
                <data android:host="infamous-scans.com" /> 
                <data android:host="www.xmanhwa.me" /> 
                <data android:host="www.isekaiscan.top" /> 
                <data android:host="paragonscans.com" /> 
                <data android:host="itsyourightmanhua.com" /> 
                <data android:host="s2manga.io" /> 
                <data android:host="18.kiara.cool" /> 
                <data android:host="kissmanga.in" /> 
                <data android:host="ksgroupscans.com" /> 
                <data android:host="retsu.org" /> 
                <data android:host="kunmanga.com" /> 
                <data android:host="lscomic.com" /> 
                <data android:host="lhtranslation.net" /> 
                <data android:host="lilymanga.net" /> 
                <data android:host="lolicon.mobi" /> 
                <data android:host="luffymanga.com" /> 
                <data android:host="luxmanga.net" /> 
                <data android:host="madaradex.org" /> 
                <data android:host="manga-1001.com" /> 
                <data android:host="manga18.xyz" /> 
                <data android:host="manga18x.net" /> 
                <data android:host="manga1k.com" /> 
                <data android:host="manga1st.online" /> 
                <data android:host="manga68.com" /> 
                <data android:host="mangaaction.com" /> 
                <data android:host="mangazin.org" /> 
                <data android:host="mangabob.com" /> 
                <data android:host="mangacultivator.com" /> 
                <data android:host="mangadass.com" /> 
                <data android:host="mangadistrict.com" /> 
                <data android:host="mangadna.com" /> 
                <data android:host="mangaeclipse.com" /> 
                <data android:host="mangaeffect.com" /> 
                <data android:host="manhuafast.net" /> 
                <data android:host="mangaforfree.com" /> 
                <data android:host="mangafoxfull.com" /> 
                <data android:host="mangafreak.online" /> 
                <data android:host="mangageek.org" /> 
                <data android:host="mangahentai.me" /> 
                <data android:host="mangakiss.org" /> 
                <data android:host="mangakomi.io" /> 
                <data android:host="mangaleveling.com" /> 
                <data android:host="mangaonlineteam.com" /> 
                <data android:host="mangamaniacs.org" /> 
                <data android:host="mangaowlnet.com" /> 
                <data android:host="mangaowlyaoi.com" /> 
                <data android:host="mangapure.net" /> 
                <data android:host="mangaqueen.com" /> 
                <data android:host="www.mangaread.org" /> 
                <data android:host="mangaread.co" /> 
                <data android:host="mangarockteam.com" /> 
                <data android:host="mangarolls.net" /> 
                <data android:host="toon69.com" /> 
                <data android:host="mangaruby.com" /> 
                <data android:host="mangaryu.com" /> 
                <data android:host="mangasushi.org" /> 
                <data android:host="mangatx.gg" /> 
                <data android:host="mangatx.to" /> 
                <data android:host="mangaempress.com" /> 
                <data android:host="mangatyrant.com" /> 
                <data android:host="mangaweebs.in" /> 
                <data android:host="toonclash.com" /> 
                <data android:host="mangagg.com" /> 
                <data android:host="mangaowl.one" /> 
                <data android:host="www.mangasy.com" /> 
                <data android:host="mangaus.xyz" /> 
                <data android:host="manhuamanhwa.com" /> 
                <data android:host="manhuazone.org" /> 
                <data android:host="www.manhuazonghe.com" />
            </intent-filter>
        </activity>

        <!-- WorkManager provider removed - workmanager package not used in v1.0 -->

        <!-- Firebase Cloud Messaging removed - not used in v1.0 -->

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
